SCA.WPF/SCA.BusinessLib/obj/x86/Release/
SCA.DatabaseAccess/obj/x86/Release/
SCA.DomainInterface/obj/x86/Release/
SCA.WPF/SCA.Model/obj/x86/Release/
SCA.WPF/SCA.WPF/bin/x86/Release/
SCA.WPF/SCA.WPF/obj/x86/Release/
SCA.DatabaseAccess/bin/x86/Release/SCA.DatabaseAccess.dll
SCA.DatabaseAccess/bin/x86/Release/SCA.DatabaseAccess.pdb
SCA.DatabaseAccess/bin/x86/Release/SCA.DomainInterface.dll
SCA.DatabaseAccess/bin/x86/Release/SCA.DomainInterface.pdb
SCA.DatabaseAccess/bin/x86/Release/SCA.Model.dll
SCA.DatabaseAccess/bin/x86/Release/SCA.Model.pdb
SCA.DomainInterface/bin/x86/Release/SCA.DomainInterface.dll
SCA.DomainInterface/bin/x86/Release/SCA.DomainInterface.pdb
SCA.DomainInterface/bin/x86/Release/SCA.Model.dll
SCA.DomainInterface/bin/x86/Release/SCA.Model.pdb
SCA.WPF/SCA.BusinessLib/bin/x86/Release/SCA.BusinessLib.dll
SCA.WPF/SCA.BusinessLib/bin/x86/Release/SCA.BusinessLib.pdb
SCA.WPF/SCA.BusinessLib/bin/x86/Release/SCA.DatabaseAccess.dll
SCA.WPF/SCA.BusinessLib/bin/x86/Release/SCA.DatabaseAccess.pdb
SCA.WPF/SCA.BusinessLib/bin/x86/Release/SCA.DomainInterface.dll
SCA.WPF/SCA.BusinessLib/bin/x86/Release/SCA.DomainInterface.pdb
SCA.WPF/SCA.BusinessLib/bin/x86/Release/SCA.Model.dll
SCA.WPF/SCA.BusinessLib/bin/x86/Release/SCA.Model.pdb
SCA.WPF/SCA.Model/bin/x86/Release/SCA.Model.dll
SCA.WPF/SCA.Model/bin/x86/Release/SCA.Model.pdb
