SCA.WPF/SCA.BusinessLib/obj/x86/Release/
SCA.DatabaseAccess/obj/x86/Release/
SCA.DomainInterface/obj/x86/Release/
SCA.WPF/SCA.Model/obj/x86/Release/
SCA.WPF/SCA.WPF/bin/x86/Release/
SCA.WPF/SCA.WPF/obj/x86/Release/
